* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  text-align: center;
}

#contain {
  margin-bottom: 0px;
}

.row {
  margin-bottom: 17px;
}

#left-sidebar {
  width: 50vw;
  background-color: #e5e7eb;
  display: inline-block;
}

.card {
  width: 40vw;
}

/* 
.right-sidebar {
  background-color: #e5e7eb;
  display: inline-block;
} */

#calendar {
  max-width: 800px;
  margin: 40px auto;
}

:root {
  --fc-event-bg-color: black;
}
