* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #e5e7eb;
}

nav {
  text-align: center;
}

#nav-title {
  font-size: 1.5rem;
  padding: 15px;
  background-color: #283618;
  color: #fefae0;
}

#contain {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.row {
  margin-bottom: 17px;
}

#card-sidebar {
  margin-left: 0px;
  margin-right: 0px;
}

/* calendar */

#calendar {
  padding: 25px 40px;
}

/* cards */

#image-card {
  width: 150px;
  height: 150px;
}

.card-title-comment {
  margin-bottom: 0px;
  font-size: 1rem;
  font-weight: bold;
}

.card-text-style {
  font-weight: 200;
}

.item {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 25px;
  color: #fefae0;
}

.item-card {
  transition: 0.5s;
}

.item-card-title {
  margin-top: 20px;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 0px;
}

.item-card-title a {
  text-decoration: none;
  margin-right: 8px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fefae0;
  padding-top: 5px;
  text-align: center;
}

.item-card-title i {
  font-size: 18px;
  cursor: pointer;
  color: #283618;
}

.card {
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.4);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in;
}

.card-text {
  height: 2.5rem;
}

.card-border {
  height: auto;
}
